<div class="jumbotron">
  <h1 align="center">Regional Sub-Committee Reports</h1>
</div>

<table class="table table-striped table-hover datatable" id="reports-table">
  <thead>
  <tr>
    <th> Title</th>
    <th> Area</th>
    <th class="hide-content"> Submitted by</th>
    <th class="hide-content"> Last Updated At</th>
    <th class="hide-content" Submitted By</th>
    <% if current_user.can_report %>
        <th> Edit Report</th>
        <th> Email Report</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @sub_committee_reports.each do |r| %>
      <tr>
        <td><%= link_to r.title, sub_committee_report_path(r) %></td>
        <td><%= r.report_committee %></td>
        <td class="hide-content"><%= r.created_at.strftime('%b %d, %Y') %></td>
        <td class="hide-content"><%= r.updated_at.strftime('%b %d, %Y') %></td>
        <% if r.created_by %>
            <td class="hide-content"> <%= r.reports_submitted_by%></td>
        <% else %>
            <td class="hide-content">submitter unknown</td>
        <% end %>
        <% if r.created_by == @logged_in.email %>
            <td> <%= link_to 'Edit Report', edit_sub_committee_report_path(r), class: 'btn btn-primary btn-xs' %></td>
            <td> <%= link_to 'Send email', committee_email_path(r), class: 'btn btn-success btn-xs'%></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>