<div class="container">
  <div class="row">
    <h2>
      <%= @sub_committee_report.title %>
    </h2>
  </div>
  <div class="row">
    <h3>
      SubCommittee: <%= @sub_committee_report.sub_committee.name %>
    </h3>
  </div>
  <div class="row">
    <h3>SubCommittee Attendees:</h3>
    <p><%= @sub_committee_report.attendees %></p>
  </div>
  <div class="row">
    <h5>Old Business:</h5>
    <p> <%= @sub_committee_report.old_business %></p>
  </div>
  <div class="row">
    <h5>New Business:</h5>
    <p> <%= @sub_committee_report.new_business %></p>
  </div>
  <div class="row">
    <h5>Notes:</h5>
    <p> <%= @sub_committee_report.old_business %></p>
  </div>
  <div class="row">
    <% if @sub_committee_report.created_by %>
        <p id="report-signature"><%= report_signature(User.find_by_email(@sub_committee_report.created_by)) %></p>
    <% end %>
  </div>
</div>
