<div class="jumbotron">
  <h2 align="center">Area Reports</h2>
</div>

<table class="table table-striped table-hover datatable" id="reports-table">
  <thead>
  <tr>
    <th> Title</th>
    <th> Area</th>
    <th> Submitted by</th>
    <th> Last Updated At</th>
    <th> Submitted By</th>
    <th> Edit Report</th>
    <th> Email Report</th>
  </tr>
  </thead>
  <tbody>
  <% @area_reports.each do |r| %>
      <tr>
        <td><%= link_to r.title, area_report_path(r) %></td>
        <td><%= r.area.name %></td>
        <td><%= r.created_at.strftime('%b %d, %Y') %></td>
        <td><%= r.updated_at.strftime('%b %d, %Y') %></td>
        <% if r.created_by %>
            <td> <%= r.reports_submitted_by%></td>
        <% else %>
            <td>submitter unknown</td>
        <% end %>
        <% if r.created_by == @logged_in.email %>
            <td> <%= link_to 'Edit Report', edit_area_report_path(r), class: 'btn btn-primary btn-xs' %></td>
            <td> <%= link_to 'Send email', area_email_path(r), class: 'btn btn-success btn-xs'%></td>
        <% else %>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>