<head>
  <%= javascript_include_tag 'admin' %>
</head>
<div class="container">
  <div class="row" id="admin-header">
    <h2 align="center">Admin Dashboard</h2>
  </div>
  <div class="row">
    <table class="table table-hover table-bordered datatable">
      <thead>
      <th>Name</th>
      <th>Role</th>
      <th>Group</th>
      <th>Committee</th>
      <th>Submit</th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <%= form_for user, url: member_path(user), method: :put, remote: true do |f| %>
              <tr>
                <td><%= user.na_name %></td>
                <td><%= f.collection_select :role_id, Role.all, :id, :name %></td>
                <td><%= f.collection_select :group_id, Group.all, :id, :name, {}, data: {live_search: true} %></td>
                <td><%= f.collection_select :committee_id, Committee.all, :id, :name %></td>
                <td><%= f.submit class: 'btn btn-primary btn-sm' %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>