<table>
  <tr>
    <td><h2><%= @report.title %></h2></td>
  </tr>
  <tr>
    <td><h3>In Attendance: </h3><%= @report.attendees %></td>
  </tr>
  <tr>
    <td><h3>Old Business</h3></td>
  </tr>
  <tr>
    <td><%= @report.old_business %></td>
  </tr>
  <tr>
    <td><h3>New Business</h3></td>
  </tr>
  <tr>
    <td><%= @report.new_business %></td>
  </tr>
  <tr>
    <td><h3>Notes</h3></td>
  </tr>
  <tr>
    <td><%= @report.notes %></td>
  </tr>
</table>
<br/>
<br/>
<p style="font-style: italic">For more reports, please visit <%= link_to 'The RSC Subcommittee Report Tool', reports_url %></p>