<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to image_tag('na_symbol_large.gif', size: '45x45', id: 'nav-bar-img'), root_path %></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'All Reports', reports_path %></li>
        <% if @logged_in %>
            <% if @logged_in.can_report %>
                <li><%= link_to 'Submit A Report', new_report_path %></li>
            <% end %>
            <% if @admin %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Tools <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                   <li><%= link_to 'Edit Members', members_path %></li>
                   <li><%= link_to 'Edit Groups', groups_path %></li>
                </ul>
                </li>
            <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if @logged_in %>
            <li><%= link_to "Hello, #{@logged_in.first_name} #{@logged_in.last_name}", edit_user_registration_path, data: {toggle: 'tooltip', placement: 'bottom', title: profile_tool_tip} %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li id="sign-in-nav"><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>