<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><%= link_to image_tag('na_symbol_large.gif', size: '45x45', id: 'nav-bar-img'), root_path %></div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'All Reports', reports_path %></li>
        <li><%= link_to 'Submit A Report', new_report_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Hello, #{current_user.first_name} #{current_user.last_name}", edit_user_registration_path,  data: {toggle: 'tooltip', placement: 'bottom', title: profile_tool_tip} %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Sign in', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>