<table class="table table-hover table-bordered">
  <thead>
  <th>Name</th>
  <th>Role</th>
  <th>Group</th>
  <th>Committee</th>
  <th>Submit</th>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <%= form_for user, url: member_path(user), remote: true do |f| %>
          <tr>
            <td><%= user.na_name %></td>
            <td><%= f.collection_select :role_id, @roles, :id, :name, {}, class: 'form-control' %></td>
            <td><%= f.collection_select :group_id, @group_select, :id, :name, {}, data: {live_search: true}, class: 'form-control' %></td>
            <td><%= f.collection_select :committee_id, @committees, :id, :name, {}, class: 'form-control' %></td>
            <td><%= f.submit class: 'btn btn-primary btn-sm' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<script>
    $('select').selectpicker();
</script>